<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="calendly-inline-widget" data-url="https://calendly.com/mothers-test/<%= @meeting.calendly_meeting_url %>" style="min-width:320px;height:580px;"></div>
      <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
    </div><!-- col-md-12 -->
  </div><!-- row -->
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
    <%= link_to 'Back', meetings_path %>
  <% end %>
</div><!-- container -->
