<div class="jumbotron">
  <h1>Welcome to Mothers Bookkeeping</h1>
  <p>Best place for your bookkeeping needs</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></p>
</div>