<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
              <h1>Welcome to Mothers Bookkeeping</h1>
              <p>Best place for your bookkeeping needs</p>
              <p><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
            </div>            
        </div>
    </div><!-- end row -->
    <div class="row">
        <div class="col-md-12">
            <h3>Login accounts</h3>
            <p><strong>Mothers Admin:</strong> user your existing login, and after you login go to https://whispering-chamber-82307.herokuapp.com/admin</p>
            <p><strong>Client Admin:</strong> Username: client_admin@mail.com | Password: demo1234</p>
            <p><strong>Client:</strong> Username: client@mail.com | Password: demo1234</p>
        </div>
    </div>
</div>
