<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Every plan comes with a dedicated bookkeeping team to handle your monthly books and simple software to let you keep track of your financials.</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-xs-12 col-md-4">
            <div class="panel-table panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Starter</h3>
                </div>
                <div class="panel-table-body">
                    <div class="the-price">
                        <h1>
                            $495<span class="subscript">/mo</span></h1>
                        <small>Great for up to $200k/year revenue</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                1 Account
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                1 Project
                            </td>
                        </tr>
                        <tr>
                            <td>
                                100K API Access
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                100MB Storage
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Custom Cloud Services
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success" %>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel-table panel-success">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">MOST
                            <br>
                            POPULR</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Grower</h3>
                </div>
                <div class="panel-table-body">
                   <div class="the-price">
                        <h1>
                            $695<span class="subscript">/mo</span></h1>
                        <small>Great for mid size companies</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                2 Account
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                5 Project
                            </td>
                        </tr>
                        <tr>
                            <td>
                                100K API Access
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                200MB Storage
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Custom Cloud Services
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success" %>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel-table panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gold</h3>
                </div>
                <div class="panel-table-body">
                    <div class="the-price">
                        <h1>
                            $1,695<span class="subscript">/mo</span></h1>
                        <small>Great for corporate accounts</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                5 Account
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                20 Project
                            </td>
                        </tr>
                        <tr>
                            <td>
                                300K API Access
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                500MB Storage
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Custom Cloud Services
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success" %>
                </div>
            </div>
        </div>
    </div>
</div>