<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome, <%= current_user.name %></h2>
            <br>
            <p>
                Here you can communicate with your bookkeeper, team lead, administative staff etc.
            </p>            
        </div>
    </div>
</div>

